

<ul class="nav nav-pills mb-3">
    <li class="nav-item">
        <a class="nav-link active" href="#">Comedy</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Drama</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Horror</a>
    </li>
   
</ul>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page">Comedy</li>
        <li class="breadcrumb-item active" aria-current="page">Everything Should Happens</li>
    </ol>
</nav>
<div>
</div>
